html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

header {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

#top {
  font-size: 70px;
  font-weight: bold;
}

.links a,
.bottom a {
  color: white;
  font-size: 18px;
}

#copyright {
  font-size: 11px;
  color: white;
}

footer {
  background-color: dimgray;
  text-align: left;
}
